.blinkit{
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.blinkit-logo{
    width: 300px;
}

.text-area{
    width: 300px;

}

.search1{
    height: 20px;
    width: 20px;
    position: absolute;
    color: rgba(128, 128, 128, 0.467);
    margin-top:-36px;
    margin-left: 5px;
}

input{
    background-color: rgba(128, 128, 128, 0.088);
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.088);
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 50px;
  width: 500px;
}

.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 50px;
    width: 100px;
    background-color: white;
    font-size: large;
}

.cart{
    height: 50px;
    justify-content: center;
    width: 120px;
    display: flex;
    align-items: center;
    border:5px solid rgb(8, 189, 8);
    background-color: rgb(17, 190, 17);
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.text-and-see-all
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.seeall{
    color: rgb(15, 177, 15);
}

.items-area,.items-area2,.items-area3
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;


}

.items1,.items2,.items3,.items4,.items5{
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.112);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    
}

.add{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-item{
    border-radius: 5px;
    border: 2px solid green;
    padding: 10px 15px;
    font-weight: bold;
    color: rgb(17, 179, 17);
    
}